.mainLayerAsRelative {
  /* border: 15px solid rgb(152, 61, 0); */
  position: relative;
  width: 720px;
  height: 480px;
}

/* ----------------------------------------- */

.Overlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: center;

  background-color: transparent;

  height: 480px;
  width: 100%;
  max-width: 720px;
  z-index: 20;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Nur zum fexieren der Optionenleiste werend des Spieles. */
.Overlayer_beginn {
  justify-content: flex-start;
  padding-top: 1rem;

}

/* ----------------------------------------- */

.startScreenImage {
  border-radius: 0.5rem;
  object-fit: fill;

  height: 480px;
  width: 100%;
  max-width: 720px;
  z-index: 2;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------------------------------- */
